<style>
     h2 {
          color: orangered;
          font-size: 2rem;
          font-weight: 800;
     }

     .imgtecno {

          animation: entradacode 1s ease;
          transform-origin: top;

     }

     @keyframes entradacode {
          from {
               transform: scaleY(0);
          }

          to {
               transform: scaleY(1);
          }

     }

     .dv {
          display: flex;
          justify-content: space-around;
          /* align-items: center; */
     }

     .txc {
          width: 70%;
          margin: 0 auto;

     }

     @keyframes entradacode {
          from {
               transform: scaleY(0);
          }

          to {
               transform: scaleY(1);
          }

     }

     .nombreTec {
          animation: bounce .6s ease;
          transition: all 1s ease;
          animation-timing-function: linear;
          padding: 10px;
     }

     @keyframes bounce {
          0% {
               transform: translateX(100%);
          }

          30% {
               transform: translateX(-10px) scaleY(.8);
          }

          65% {
               transform: translateX(-20px);
          }

          75% {
               transform: translateX(5px);
          }



          95% {
               transform: translateX(10px);
          }



          100% {
               transform: translateX(0);
          }
     }
</style>
<div class="dv">
     <section class="txc">
          <h2 class="nombreTec">HTML5</h2>
          <div class="niveles">
               <span class="nivel"></span>
               <span class="nivel"></span>
               <span class="nivel"></span>
               <span class="nivel"></span>
               <span class="nivel"></span>
          </div>
          <p description>Poseo una profunda competencia en HTML5 y demuestro habilidades avanzadas en la maquetación
               integral de aplicaciones web, aplicando rigurosamente buenas prácticas y estrategias SEO. Este enfoque no
               solo asegura una escalabilidad óptima, sino que también mejora de manera significativa la legibilidad y
               facilita la edición del código fuente</p>
     </section>
     <img class="imgtecno" src="../js/components/imgs/codigohtml.png" alt="imgcode">



</div>