<style>
     .titulo {
          color: rgb(20, 199, 230);
     }

     .nombreTec {
          animation: bounce .6s ease;
          transition: all 1s ease;
          animation-timing-function: linear;
     }

     .nombreTec {
          animation: bounce .6s ease;
          transition: all 1s ease;
          animation-timing-function: linear;
          font-size: 2.5rem;
          color: blue;
     }

     .imgtecno {

          animation: entradacode 1s ease;
          transform-origin: top;

     }

     @keyframes entradacode {
          from {
               transform: scaleY(0);
          }

          to {
               transform: scaleY(1);
          }

     }

     @keyframes bounce {
          0% {
               transform: translateX(100%);
          }

          30% {
               transform: translateX(-10px) scaleY(.8);
          }

          65% {
               transform: translateX(-20px);
          }

          75% {
               transform: translateX(5px);
          }



          95% {
               transform: translateX(10px);
          }



          100% {
               transform: translateX(0);
          }
     }

     .tecnoBlock {
          display: flex;
          flex-direction: column;

     }

     @keyframes bounce {
          0% {
               transform: translateX(100%);
          }

          30% {
               transform: translateX(-10px) scaleY(.8);
          }

          65% {
               transform: translateX(-20px);
          }

          75% {
               transform: translateX(5px);
          }



          95% {
               transform: translateX(10px);
          }



          100% {
               transform: translateX(0);
          }
     }

     .div {
          display: flex;
          justify-content: center;
          align-items: center;

     }

     .imgtecno {
          width: 100px;
          height: 100px;
     }
</style>
<div class="tecnoBlock">
     <h2 class="titulo nombreTec">MySQL</h2>
     <div class="div">


          <p class="description"> Dominio de MySQL, uno de los sistemas de gestión de bases de datos relacionales más
               utilizados en
               el desarrollo de aplicaciones web. Conocimiento fundamental en la creación y gestión de bases de datos
               utilizando MySQL. Competencia en la escritura y ejecución de consultas SQL para realizar operaciones como
               la
               creación de tablas, inserción y actualización de datos, consultas SELECT y la gestión de índices.
               Capacidad
               para diseñar esquemas de bases de datos eficientes y normalizados, teniendo en cuenta las relaciones
               entre
               tablas y garantizando la integridad de los datos. Familiaridad con las principales cláusulas y operadores
               de
               SQL, como JOINs, GROUP BY, ORDER BY y funciones agregadas. Conocimiento en cómo realizar consultas
               optimizadas, utilizando índices y evitando operaciones innecesarias o ineficientes. El conocimiento en
               MySQL
               es esencial para la persistencia de datos y la gestión eficiente de la información en aplicaciones web y
               sistemas basados en bases de datos relacionales.
          </p>
          <!-- <img class="imgtecno"
               src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-sql-file-document-icon-png-image_4176851.jpg"
               alt="imagencodigo"> -->
     </div>
</div>